# Python
__pycache__/
*.pyc
venv/
.venv/

# Data & DVC
data/**/*.csv
!data/**/*.csv.dvc
!data/**/.gitignore
.dvc/cache/
.dvc/tmp/
.dvc/config.local

# MLflow
mlruns/
mlflow.db

# OS / IDE
.DS_Store
.vscode/

# Assignment specific
*.pem
*.pdf
assignment_instructions.txt
download_data.py
